.Logo{
    background-color: rgba(255,255,255,0.3);
    padding : 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 4px;
}

.Logo img{
    height: 100%;
    
}